{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Instagram</title>
</head>

<body>
    <div id="container">
        <header class="header">
            <h1 class="logo_name">
                <a href="{% url 'home' %}">Instagram</a>
            </h1>


            <nav class="navbar">
                {% if user.is_authenticated %}

                <a href="{% url 'create-post' %}" class="navbar-item btn">
                    Create Post
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="navbar-item btn">
                    Login
                </a>

                <a href="{% url 'register' %}" class="navbar-item btn">
                    Sign Up
                </a>
                {% endif %}
            </nav>

        </header>

        <main class="main">
            <aside class="sidebar">
                <div class="hashtags">
                    <h4 class="sidebar__title">
                        Categories
                    </h4>

                    <a href="#" class="hashtag">
                        #hash
                    </a>


                </div>

                {% if user.is_authenticated %}
                <div class="profile-image">
                    <img src="../static/img/k" alt="Profile Img"
                        class="user-profile__img">

                    <a href="#">
                        <img src="#" alt="Edit" class="edit-icon--profile__img">
                    </a>
                </div>


                <a href="{% url 'logout' %} " class="logout btn">
                    <img src="#" class="logout-icon v">
                    Logout
                </a>
                {% endif %}
            </aside>


            {% block content %}
            {% endblock %}

        </main>

    </div>
</body>

</html>