{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Instagram</title>
</head>

<body>
    <div id="container">
        <header class="header">
            <h1 class="logo_name">
                <a href="{% url 'home' %}">Instagram</a>
            </h1>


            <nav class="navbar">
                {% if user.is_authenticated %}

                <a href="{% url 'create-post' %}" class="navbar-item btn">
                    Create Post
                </a>

                <a href="{% url 'logout' %} " class="logout btn navbar-item">
                    <img src="{% static 'img/shutdown-svgrepo-com.svg' %}"
                        class="logout-icon v">

                </a>
                {% else %}
                <a href="{% url 'login' %}" class="navbar-item btn">
                    Login
                </a>

                <a href="{% url 'register' %}" class="navbar-item btn">
                    Sign Up
                </a>
                {% endif %}
            </nav>

        </header>

        <main class="main">


            {% block content %}
            {% endblock %}

        </main>

    </div>
</body>

</html>