{% extends "base.html" %}

{% block content %}
<section class="content">


    <div class="content gallery">
        <ul>
            {% if images %}


            <!-- Comes from js -->
            {% for image in images %}
            <li class="gal-list">
                <a href=" #">
                    <img src="{{image.image.url}} " alt="Gal Img" loading="lazy"
                        class="gal-img" />
                </a>

                <div class="gal-list-desc">
                    <div>
                        <a href="#" class="gal-list__caption">
                            <svg class="icon">
                                <use xlink:href="#"></use>
                            </svg>
                            {{image.caption}}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}

            {% else %}

            <p>No images found</p>

            {% endif %}

        </ul>


    </div>


</section>


{% endblock %}