{% extends "base.html" %}

{% block content %}

<div class="box">
    <h3 class="heading-3">Sign Up</h3>

    <form method="POST" action="" class="auth" autocomplete="off">
        {% csrf_token %}
        <label for="email" class="auth__label">Email</label>
        <input required type="email" name="email" class="auth__input">

        <label for="username" class="auth__label">Username</label>
        <input required type="text" name="username" class="auth__input">

        <label for="password" class="auth__label">Password</label>
        <input required type="password" name="password" class="auth__input">

        <button type="submit" class="btn">Sign Up</button>
    </form>
</div>

{% endblock %}