*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: sans-serif;
}

:root {
  --color-primary: hsl(240, 89%, 7%);
  --color-navy: #1c1419;
  --color-secondary: #00a4ef;
  --color-white: hsl(0, 0%, 100%);
  --color-grey: #e6d6d6;
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Components */
.icon {
  height: 2rem;
  width: 2rem;
  fill: #fff;
}


.box {
  /* width: 32rem; */
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.5);
}

.btn {
  padding: 0.6rem 1rem;
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
  color: skyblue;
  background-color: var(--color-navy);

  transition: all 0.2s;
}

.btn-like{
  background-color: inherit;
  border: none;
}

.btn:hover {
  color: #fff;
}

.heading-3 {
  font-size: 3rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

.logout {
  display: flex;
  width: min-content;
  padding: 0.8rem 2rem;
}

.logout:hover {
  color: rgba(255, 0, 0, 0.794);
}

.logout-icon {
  height: 2.5rem;
  padding-right: 1rem;
}

.header {
  flex: 0 0 10vh;
  background-color: hsl(0, 0%, 97%, 0.95);
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 1rem;
}

.logo_name a {
  font-size: 3.5rem;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.navbar-item {
  margin: 0 1rem;
  font-size: 2rem;
}

.nav-profile__img {
  margin-left: 3rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;

  transition: all 0.2s;
}

.nav-profile__img:hover {
  filter: blur(2px);
}


.main {
  min-height: 90vh;
  background-color: #f8f8f8;

  display: flex;
}


.sidebar {
  flex: 1 0 20%;
  max-width: 20%;
  position: sticky;
  top: 10vh;
  height: 88vh;
  padding-left: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__title {
  font-size: 3rem;
}

.hashtags {
  display: flex;
  flex-direction: column;
}

.hashtag {
  font-size: 2rem;
  line-height: 2;
}


.auth {
  display: flex;
  flex-direction: column;
}

.auth input {
  width: 100%;
  background-color: var(--color-grey);
  font-size: 1.6rem;
  outline: none;
  border: 1px solid hsla(0, 0%, 0%, 0.424);
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}

.auth .btn {
  align-self: center;
}


.create-form{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30rem;
 
}

.create-form textarea{
  border-radius: 10px;
  color: black;
}

.content {
  flex: 1 1 auto;
  border-left: 1px solid black;
  
}

/* Gallery */
.gallery {
  padding: 2rem;
}
.gallery ul {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  column-gap: 1%;
  row-gap: 2rem;
}
.gal-list {
  height: 45vh;
  list-style: none;
  flex-grow: 1;
  cursor: pointer;
}
.gal-list:last-child {
  flex-grow: 10;
}
.gal-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* Image Description  */
.gal-list:hover .gal-list-desc {
  transform: translateY(-3rem);
  opacity: 1;
}

.gal-list-desc {
  opacity: 0;
  transform: translateY(-1.8rem);
  padding: 0 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.35);

  transition: all 0.3s;
}

.gal-list__copy {
  height: 3rem;
}
.gal-list__category,
.gal-list__location {
  display: flex;
  align-items: center;
  color: white;
}
.gal-list__category:hover,
.gal-list__location:hover {
  color: gold;
}
.gal-list__category:hover svg,
.gal-list__location:hover svg {
  fill: gold;
}
.icon--copy:hover {
  fill: gold;
}
.liked_btn{
  fill: gold;
}

.hashtag {
  color: #fff;
  font-size: 2.2rem;
  margin: 0 0.3rem;
}

@media only screen and (max-width: 37.5em) {
  .gal-list {
    height: auto;
    width: 100%;
  }
  .gal-img {
    width: 100%;
    max-height: 100%;
  }
  .logo {
    margin-right: auto;
  }
}